<div class='nested-fields'>
    <div class="field">
        <%= f.label :positions %>
        <%= f.collection_check_boxes(:id, @positions, :id, :name) do |f|%>
            <%= f.label class: 'label-checkbox' do %>
                <%= f.check_box + f.text %>
            <% end %>
        <% end %>
    </div>
    <%= link_to_remove_association "remove task", f %>
</div>